body {
  font-family: "Times", serif;
  background: black;
  color: white;
  font-size: 100pt;
}


model-viewer {
  width: 50%;
  height: 80%; /* Ensures it takes 50% of the screen height */
  min-height: 300px; /* Sets a minimum height of 300px */
  max-width: 800px; /* Sets a maximum width of 800px */
  margin: 20px 0;
  top: 0px;
  background-color: black;
  flex-shrink: 0; /* Prevents shrinking of the model-viewer */

}

.cursor {
  width: 20px;
  height: 20px;
  right: 8px;
  top:10px;
  pointer-events: none;
  position: absolute;
}

.info {
  font-size: 10pt;
  background: blue;
  z-index: 2;
  overflow: scroll;
  padding-left: 8px;
  padding-top: 10px;
  padding-right: 8px;
  padding-bottom: 10px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer/Edge (alt) */
  text-align: justify;
  text-align-last: left;
}

.info::-webkit-scrollbar {
  display: none; /* Chrome, Safari, neuer Edge */
}

.content {
  z-index: 1;
  display: flex;
  justify-content: center;
}

.ov {
  font-size: 12pt;
  line-height: -10pt;
}

#draggable {
      width: 40%;
      height: 10%;
      margin-left: 5px;
      background-color: blue;
      position: absolute;
      top: 35vh;
      left: 10%;
      cursor: grab;
    }


    #bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1; /* hinter den Inhalt legen */
      }

    @media (max-width: 800px) {
      #draggable {
            width: 80%;
            height: 20%;
            margin-left: 5px;
            background-color: blue;
            position: absolute;
            top: 40vh;
            left: 5%;
            cursor: grab;
          }

          .ov {
            font-size: 10pt;
          }

          .info {
            font-size: 8pt;
            background: blue;
            z-index: 2;
            overflow: scroll;
            padding-left: 8px;
            padding-top: 10px;
            padding-right: 8px;
            padding-bottom: 10px;
            scrollbar-width: none; /* Firefox */
            -ms-overflow-style: none; /* Internet Explorer/Edge (alt) */
            text-align: justify;
            text-align-last: left;
          }

          .info::-webkit-scrollbar {
            display: none; /* Chrome, Safari, neuer Edge */
          }
    }
